.header {
	background-color: $snow-white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
	padding-bottom: 8px;
	margin-bottom: 20px;
	&__left, &__right {
		width: 50%;
		float: left;
	}
	&__left{
		padding-top: 8px;
	}
	&__right {
 		text-align: right;
		padding-top: 31px;
	}
}

.user__picture {
	display: inline-block;
	vertical-align: middle;
	width: 64px;
	border: 2px solid $avatar-frame;
	border-radius: 50%;
	overflow: hidden;
}

.user__image {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.user__name {
	display: inline-block;
	vertical-align: middle;
	max-width: 240px;
	margin: 10px 0 0 14px;
	color: $dark;
}

.contacts-trigger {
	display: inline-block;
	position: relative;
	&:hover .contacts {
		color: $red;
		border-color: $red
	}
	&:hover .dropdown {
		left: 0;
		transform: translate(-25%, 0);
		opacity: 1;
	}
}

.contacts {
	display: block;
	font-weight: 600;
	color: $blue;
	text-decoration: none;
	border-bottom: 1px dashed $blue;
	&__icon {
		display: none;
	}
}

.dropdown {
	display: inline-block;
	background-color: $snow-white;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 10px;
	text-align: left;
	position: absolute;
	top: 42px;
	left: -9999px;
	z-index: 10;
	opacity: 0;
	transition: opacity 1.5s;
	&::before {
		display: block;
		content: '';
		height: 50px;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
	}
	&::after {
		display: block;
		content: '';
		width: 20px;
		height: 20px;
		border-top: 1px solid rgb(222, 222, 222);
		border-left: 1px solid rgb(222, 222, 222);
		background: $snow-white;
		transform: rotate(45deg);
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin: 0 0 -10px -10px;
	}
	&__item {
		padding: 11px 16px;
		border-bottom: 1px solid rgb(222, 222, 222);
		&:last-child {
			border-bottom: none;
			padding-bottom: 12px;
		}
	}
	&__link {
		display: block;
		font-weight: 300;
		text-decoration: none;
		white-space: nowrap;
	}
	&__icon, &__title {
		display: inline-block;
		vertical-align: middle;
	} 
	&__icon {
		color: $blue;
	}
	&__title {
		color: $dark;
	}
}

// .contacts:hover + .dropdown {
// 	right: 0;
// }